body {
    margin: 0;
    padding: 0;
}

.holder {
    display: flex;
flex-wrap: wrap;
    background-color: lightgray;
    width: 250px;
    margin: 50px auto;
    padding: 20px;
}

.item {
    height: 50px;
    font-size: 20px;
}

#block1,
#block5 {
    background-color: red;
    min-width: 50%;
    flex-grow: 2;
    order: -1;
}

#block2 {
    background-color: orange;
    min-width: 33.3%;
    order: 3;
}

#block3 {
    background-color: green;
    min-width: 33.3%;
    order: 1;
}

#block4 {
    background-color: yellow;
    min-width: 33.3%;
    order: 3;
}